.post-times-container {
  margin-block: 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 0.875em;
  letter-spacing: 0.05em;

  .post-inner-time-text > span {
    font-weight: bold;
    letter-spacing: normal;
  }
}
