.like-btn {
  & button {
    aspect-ratio: 1;
    padding: 0.5em;
    background: transparent;
    border-radius: 50vw;

    svg {
      width: 1.5em;
      height: 1.5em;
      transition: 300ms ease-in-out;
    }

    &:hover {
      background-color: hsla(0, 0%, 50%, 0.25);

      & svg {
        scale: 1.05;
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
