.post-form-preview-container {
  margin-block: 3em;

  .post-form-preview {
    margin: 0;
    padding: 1em;
    border: 1px solid var(--card-border);
    border-radius: 1em;
    font-family: initial;
    white-space: initial;
  }
}
