.author-page {
  position: relative;

  .author-avatar-wrapper {
    margin-block: 1em;
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
    align-items: center;
    justify-content: flex-end;

    & img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50vw;
    }
  }

  .author-contact-mail-wrapper {
    font-size: 1em;

    a {
      font-size: 1.1em;
      font-weight: bold;
      transition: 300ms ease-in-out;
    }

    a:hover,
    a:focus-visible {
      color: rgb(67, 67, 191);
    }
  }

  .articles-header {
    text-align: center;
  }

  .author-page-follow-btn {
    right: 0;
  }
}
