:root {
  /* Colors */
  --tx-black: rgb(25, 23, 23);
  --tx-gray: #696969;
  --tx-card: rgb(113, 107, 107);
  --tx-warning: #ff1659;
  --card-border: rgb(233, 224, 224);
  --bg-highlight: hsla(29, 100%, 60%, 0.9);

  /* Spacing */
  --card-spacing: 1.5em;

  /* Fonts */
  --fs-primary: clamp(0.9rem, 5vw, 1rem);
  --fs-header: clamp(1.5rem, 5vw, 1.7rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
ul {
  margin: 0;
}

body {
  color: var(--tx-black);
  scroll-behavior: smooth;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
  outline-offset: 0.25em;
  text-underline-offset: 0.25em;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
}

img,
svg {
  display: block;
}

img {
  user-select: none;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  text-wrap: pretty;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  padding: 0;
}

input,
select {
  font: inherit;
  color: inherit;
  padding: 0;
  border-width: 1px;
}

label,
select {
  cursor: pointer;
}

input,
select,
textarea {
  min-width: 10em;
  width: 100%;
  height: 2em;
  border-radius: 0.25em;
  text-wrap: pretty;
}

textarea {
  font: inherit;
  resize: none;
  min-width: 10em;
  min-height: 15em;
}

input,
textarea {
  padding-inline: 1em;
  line-height: 1.6;
}

select {
  text-align: center;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.btn {
  display: grid;
  place-content: center;
  padding: 0.5em 1.5em;
  background-color: transparent;
  border: 1px solid rgba(54, 54, 54, 0.6);
  border-radius: 50vw;
  color: var(--tx-black);
  font-weight: bold;
  max-width: fit-content;

  &:not(:disabled):hover,
  &:not(:disabled):focus-visible {
    background-color: var(--tx-black);
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.btn--accent {
  background-color: var(--tx-black);
  color: white;
  &:not(:disabled):hover {
    opacity: 0.8;
  }
}

.card-image-placeholder {
  background-image: url("/img-placeholder.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-errors-list {
  color: var(--tx-warning);

  & > li:not(:last-child) {
    margin-bottom: 0.25em;
  }
}
