.signup-header {
  text-align: center;
}

.signup-form {
  max-width: 40em;
  margin-inline: auto;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;

  & input {
    margin-top: 0.25em;
  }

  & label {
    flex-shrink: 0;
    padding-bottom: 0.5em;
  }

  & button[type="submit"] {
    margin-top: 1em;
    font-size: clamp(1.25em, 2vw, 1.5em);
  }
}
