.profile-page {
  .profile-subheader {
    text-align: center;
  }

  section {
    display: grid;
    place-content: center;
  }

  .profile-content-wrapper {
    min-width: 300px;
    margin-bottom: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .profile-content-label {
    font-weight: bold;
  }

  .form-errors-list {
    text-align: center;
  }

  .profile-go-back-btn {
    margin-inline: 3em;
  }
}

.profile-edit-form {
  & > * {
    margin-block: 1.5em;
  }

  .profile-content-wrapper {
    margin-bottom: 0;
  }

  label {
    flex-shrink: 0;
  }

  input {
    min-width: 10em;
    max-width: 15em;
  }

  .profile-edit-form-inner-wrapper {
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
  }

  .profile-edit-inputs-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
  }
}
