.profile-page {
  .profile-subheader {
    text-align: center;
  }

  section {
    display: grid;
    place-content: center;
  }

  .profile-content-wrapper {
    min-width: 300px;
    margin-bottom: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  label,
  .profile-content-label {
    font-weight: bold;
  }

  .form-errors-list {
    text-align: center;
  }

  .profile-go-back-btn {
    margin-inline: 3em;
  }
}

.profile-edit-form {
  & > * {
    margin-bottom: 1em;
  }

  .profile-content-wrapper {
    margin-bottom: 0;
  }

  label {
    flex-shrink: 0;
  }

  input {
    min-width: 10em;
    max-width: 15em;
  }

  .profile-edit-form-inner-wrapper {
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    column-gap: 1em;
    row-gap: 0.5em;

    &:has(
        > .profile-edit-inputs-wrapper:where(> .profile-edit-form-input + .profile-edit-form-input)
      ) {
      flex-wrap: wrap;
    }
    &:has(.profile-edit-form-input + .profile-edit-form-input) {
      flex-wrap: wrap;
      justify-content: center;

      .profile-edit-form-input {
        flex-grow: 1;
        flex-wrap: wrap;

        input {
          max-width: 100%;
        }
      }
    }
  }

  .profile-edit-inputs-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 2em;
    row-gap: 0.5em;
    flex-wrap: wrap;
  }

  .profile-edit-form-input {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}
