.post-comments {
  margin-block: 1em;

  .post-comments-empty {
    margin-block: 1em;
  }

  .post-comments-list {
    overflow: hidden;
    border-radius: 0.5em;

    background-color: hsl(0, 0%, 0%, 0.05);
  }
}

.post-comments .post-comments-list > .post-comment:nth-child(2n) {
  background-color: hsl(0, 0%, 0%, 0.1);
}
