.post-form {
  margin-block: 1em;

  & > * {
    margin-bottom: 1em;
  }

  .post-form-preview-link {
    margin-left: auto;
  }

  label {
    display: block;
    max-width: max-content;
    margin-bottom: 0.15em;
    font-weight: bold;
  }

  .form-input-error {
    display: block;
    max-width: max-content;
    margin-top: 0.25em;
    font-size: 0.875em;
    color: var(--tx-warning);
  }
}

.post-form-btns-container {
  margin-block: 1em;
  display: flex;
  gap: 1em;
  justify-content: flex-end;
}
